<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <!--    the following meta and links are from https://www.w3schools.com/w3css/w3css_templates.asp-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>All Users</title>
</head>
<body>
    <header th:replace="fragments/header::header"></header>
    <h1>Showing All Users</h1>
    <ul>
        <li th:each="user: ${users}">
            <a th:href="@{'/users/' + ${user.id}}" ><span th:text="${user.username}"></span></a>
        </li>
    </ul>
</body>
</html>