<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <!--    the following meta and links are from https://www.w3schools.com/w3css/w3css_templates.asp-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Title</title>
</head>
<body>
    <h1>Code Fellowship Page</h1>
    <br />
    <p>This is a demo page that accepts logins and stuff</p>
    <br />
    <div th:if="${p != null}">
        <p>Hello, <span th:text="${user.username}"></span></p>
        <p><a th:href="@{'/users/' + ${user.username}}">See profile</a></p>
        <p><a th:href="@{/logout}">>Logout</a></p>
    </div>
    <div th:if="${p == null}">
        <a th:href="@{/login}">Login Here</a>
        <br />
        <a th:href="@{/signup}">Sign Up Here!</a>
    </div>
</body>
</html>
