<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Profile Page</title>
</head>
<body>
    <h1>Hi <span th:text="${user.username}"></span></h1>
    <img src="" alt="placeholder" />
    <p>User Name: <span th:text="${user.username}"></span></p>
    <p>First Name: <span th:text="${user}"></span></p>
<!--    <p>Last Name: <span th:text="${user.lName}"></span></p>-->
<!--    <p>Birth Date: <span th:text="${user.birthDate}"></span></p>-->
<!--    <p>Biography: <span th:text="${user.bio}"></span></p>-->
</body>
</html>
