<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <!--    the following meta and links are from https://www.w3schools.com/w3css/w3css_templates.asp-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Profile Page</title>
</head>
<body>
    <header th:replace="fragments/header::header"></header>
    <h1>Hi <span th:text="${user.username}"></span></h1>
    <img src="/imgs/avatar-placeholder.jpg" alt="avatar placeholder" class="avatarplaceholder" style="width:100px"/>
    <p>User Name: <span th:text="${user.username}"></span></p>
    <p>First Name: <span th:text="${user.fName}"></span></p>
    <p>Last Name: <span th:text="${user.lName}"></span></p>
    <p>Birth Date: <span th:text="${user.birthDate}"></span></p>
    <p>Biography: <span th:text="${user.bio}"></span></p>
    <br />
    <h2>My Posts</h2>
    <a th:href="@{/createpost}">Create a post</a>
    <div th:replace="fragments/post::listposts"></div>
</body>
</html>
