<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!--    the following meta and links are from https://www.w3schools.com/w3css/w3css_templates.asp-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>New User Form</title>
</head>
<body>
    <h1>New User form</h1>
    <form action="/users" method="POST">
        <label for="username">Username: </label><input name="username" id="username" />
        <label for="password">Password: </label><input name="password" id="password" />
        <label for="fName">First Name: </label><input name="fName" id="fName" />
        <label for="lName">Last Name: </label><input name="lName" id="lName" />
        <label for="birthDate">Birth Date: </label><input type="date" name="birthDate" id="birthDate" />
        <label for="bio">Biography: </label><input name="bio" id="bio" />
        <input type="submit" />
    </form>
</body>
</html>